* {
    font-family: 'Inter', sans-serif;
}


body {

    margin: 0;
    padding: 0;
}

.hero {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.4)30%,
            rgba(0, 0, 0, 0.8) 100%),
        url('../images/PK-en-20260216-TRIFECTA-perspective_ff0205ae-1ee5-4136-be37-a061ba0d07b4_large.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}



.red-btn a {
    background-color: #e50914;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;

}


.hero-content {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5em;
    margin-bottom: 30px;

}

input[type="email"] {
    padding: 20px;
    width: 300px;
    border: none;
    border-radius: 5px;
    outline: none;

}

.input-btn a {
    background-color: #e50914;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
}


.curve-wrapper {
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    height: 90px;
    z-index: 1;
    bottom: 100px;
    overflow: hidden;
}

.curve-inner {
    width: 130%;
    left: -15%;
    position: absolute;
    height: 100vh;
    border-radius: 50%;
    background: #141414;
}

.curve-inner::before {
    content: '';
    position: absolute;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -4px;
    border-radius: inherit;
    background: linear-gradient(to right, 
        rgba(33, 13, 22, 1) 16%, 
        rgba(184, 40, 105, 1), 
        rgba(229, 9, 20, 1), 
        rgba(184, 40, 105, 1), 
        rgba(33, 13, 22, 1) 84%);
}
 

 

 

 